Package: laravel-project
Maintainer: YOUR_NAME_HERE <YOUR_MAIL_HERE>
Architecture: YOUR_ARCH_HERE
Version: YOUR_VERSION_HERE
Installed-Size: 123411 
Depends: DEPENDENCIES_HERE (e.g.: dependency1, dependency2)
Description: The laravel-project:
 The GNU laravel-project Program is
 ...ADD_YOUR_DESCRIPTION_HERE...
 ...NOTE!!!...
 ...DO_NOT_INSERT_EMPTY_LINES...
 ...EVERY LINE NEEDS TO BEGIN WITH A SPACE
 ...DO_NOT_INSERT_LINES_CONTAINING_SPACES_ONLY...
 ...CREATING_A_DEB_PACKAGE_WILL_FAIL_THEN...
 laravel-project by YOUR_NAME_HERE.
